$TTL	604800
@	IN	SOA	meo.ttu. root.meo.ttu. (
			     17		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
meo.ttu.	IN	NS	infra01.meo.ttu.
meo.ttu.	IN	NS	infra02.meo.ttu.
infra01.meo.ttu.	IN	A	192.168.56.3
infra02.meo.ttu.	IN	A	192.168.56.4
ns.meo.ttu.  CNAME infra01.meo.ttu.
web.meo.ttu.  CNAME infra01.meo.ttu.
